body {
    background-color: #edefef;
}

textarea {
    resize: none;
}

.chat-box {
    height: calc(100vh - 150px);
    overflow: auto;
    background-color: #ffffff;
}

.chat-box-message {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 3em;
    padding-left: 3em;
}

.chat-box::-webkit-scrollbar {
    overflow: hidden;
    width: 8px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.chat-box::-webkit-scrollbar:horizontal {
    height: 5px;
}

.chat-box::-webkit-scrollbar-button {
    display: none;
}

.chat-box::-webkit-scrollbar-thumb {
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #a5a8aa;
}

.chat-box::-webkit-scrollbar-corner {
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #a5a8aa;
}
