body {
    background-color: #edefef;
}

textarea {
    resize: none;
}

.chat-box {
    font-size: 3vw;
    overflow: auto;
    background-color: #ffffff;
}

@media screen and (min-width: 545px) {
    .chat-box {
        font-size: 1rem;
    }
}

.chat-box::-webkit-scrollbar {
    overflow: hidden;
    width: 8px;
    background: #ffffff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.chat-box::-webkit-scrollbar:horizontal {
    height: 5px;
}

.chat-box::-webkit-scrollbar-button {
    display: none;
}

.chat-box::-webkit-scrollbar-thumb {
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #a5a8aa;
}

.chat-box::-webkit-scrollbar-corner {
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #a5a8aa;
}